.piirakkaContainer {
  display: grid;
  align-items: center;

  .pie {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    --value: 5%;
    --reika: 30;
    background: conic-gradient(black 0 var(--value), #5eaaff 0);
    overflow: hidden;

    &::after {
      position: absolute;
      display: block;
      content: "";
      padding: calc(var(--reika) * 1%);
      border-radius: 50%;
      background: white;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#hpContainer {
  position: absolute;
  top: 8px;
  width: 300px;
  height: 300px;
  display: grid;
  align-items: center;

  p {
    font-family: helvetica;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0 0 6px white;
    text-align: center;
  }
}

input {
  width: 500px;
}